<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe | {% block title %}Index{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
        * {
            font-family: Inconsolata, sans-serif !important;
        }
        header {
            background-position: center;
            background-size: cover;
            background-image: url('https://www.w3schools.com/w3images/coffeehouse.jpg');
            min-height: 75%;
        }
    </style>

</head>
<body>
<div class="top bottom position-fixed" style="top: 0;right: 0;left: 0;">
    <div class="row p-4 bg-dark text-white">
        <a href="{{ url_for('home') }}" class="col btn btn-dark text-center {{ 'active' if page=='HOME' else '' }}">HOME</a>
        <a href="{{ url_for('about') }}" class="col btn btn-dark text-center {{ 'active' if page=='ABOUT' else '' }}">ABOUT</a>
        <a href="{{ url_for('menu') }}" class="col btn btn-dark text-center {{ 'active' if page=='MENU' else '' }}">MENU</a>
        <a href="{{ url_for('where') }}" class="col btn btn-dark text-center {{ 'active' if page=='WHERE' else '' }}">WHERE</a>
    </div>
    {% block content %}
    {% endblock %}

</div>

</body>
</html>