<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
        * {
            font-family: Inconsolata,sans-serif !important;
        }
    </style>
</head>
<body>
<div class="top bottom">
    <div class="row p-4 bg-dark text-white" >
        <div class="col btn btn-dark text-center {{active if page=='HOME'}}">HOME</div>
        <div class="col btn btn-dark text-center {{active if page=='ABOUT'}}">ABOUT</div>
        <div class="col btn btn-dark text-center {{active if page=='MENU'}}">MENU</div>
        <div class="col btn btn-dark text-center {{active if page=='WHERE'}}">WHERE</div>
    </div>
    {% block contant %} {% endblock %}

</div>
    
</body>
</html>