<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
        * {
            font-family: Inconsolata, sans-serif !important;
        }
        header {
            background-position: center;
            background-size: cover;
            background-image: url('https://www.w3schools.com/w3images/coffeehouse.jpg');
            min-height: 75%;
        }
    </style>

</head>
<body>
<div class="top bottom">
    <div class="row p-4 bg-dark text-white">
        <div class="col btn btn-dark text-center {{ 'active' if page=='HOME' else '' }}">HOME</div>
        <div class="col btn btn-dark text-center {{ 'active' if page=='ABOUT' else '' }}">ABOUT</div>
        <div class="col btn btn-dark text-center {{ 'active' if page=='MENU' else '' }}">MENU</div>
        <div class="col btn btn-dark text-center {{ 'active' if page=='WHERE' else '' }}">WHERE</div>
    </div>
    {% block content %}
    {% endblock %}

</div>

</body>
</html>